.page{
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    background-color: #2A2C2F;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .page {
        padding-bottom: 6px;
    }
  }