.places {
    margin: 0 auto 92px;
    display: grid;
    gap: 80px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
      gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    grid-template-columns: 320px;
    max-width: 320px;
    gap: 50px;
  }
}