.lead__title{
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 720px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
      margin: 0 auto 32px;
    }
  }
  
@media screen and (max-width: 767px) {
    .lead__title {
      max-width: 720px;
      margin: 0 16px 16px 16px;
      font-size: 40px;
      line-height: 40px;
    }
  }
