.cover__background {
    background-image: url(../../../images/__background.png);
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 740px;
}

.cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
  }
  
  
  .cover__background:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
  }
  
  .cover__background:hover {
    opacity: 1;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__background {
      min-height: 640px;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 1023px) {
    .cover__background {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 374px) {
    .cover__background {
      min-height: 200px;
    }
  }